<div class="container">
  <div class="text-primary text-center pt-3">
    <h1><strong>Support Technique</strong></h1>
    <h3 class="text-danger font-italic">Besoin d'aide ?</h3>
  </div>
  <div>
   <h1 class="text-danger"> Conatctez-nous </h1>
    <h3><p><strong>Pour toute demande remplire le formulaire de demande ci-dessous</strong></p></h3>

  </div>
  <form class="float-left">
    <div class="form-group row">

      <div class="col ">
        <input type="text" class="form-control" placeholder="Entreprise">
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
      <input type="email" class="form-control" placeholder="Email"></div>
    </div>
    <div class="form-group row">
      <div class="col">
        <input type="tel" class="form-control" placeholder="Tél">
      </div>
    </div>
    <div class="form-group row">
      <div class="col w-500">
        <textarea rows="5" class="form-control" placeholder="message"></textarea>
      </div>
    </div>
    <button class="btn btn-primary">Envoyer</button>
  </form>
    <div class="titi">
      <agm-map  (mapReady)="mapReady($event)" >
      </agm-map>
  </div>
</div>
