<div class="container">
  <form>
    <div class="row mt-2">
      <div class="col form-inline">
        <input class="form-control" type="text" [formControl]="filter"/>
      </div>
      <div class="col">
        <img src="assets/images/add.svg" class="btn btn-outline-danger border-0 float-right"
             height="60" width="60" (click)="addNewCheck()">
      </div>
    </div>
  </form>


  <table class="table table-striped mt-3">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Montant</th>
      <th scope="col">Ville</th>
      <th scope="col">Date</th>
      <th scope="col">Opération</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let check of checks ; index as i">
      <th scope="row">{{check.id}}</th>
      <td>
        <ngb-highlight [result]="check.name" [term]="filter.value"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="check.amount | number" [term]="filter.value"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="check.city " [term]="filter.value"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="check.effectiveEndDate" [term]="filter.value"></ngb-highlight>
      </td>
      <td>
        <span class="badge badge-success font-size"
              [ngClass]="check.status === 'Payé' ? 'badge badge-success font-size' : 'badge badge-danger font-size'">
          {{check.status}}
        </span>
      </td>
      <td>
        <img src="assets/images/trash-outline.svg" class="btn btn-outline-danger border-0" height="50" width="50"
             (click)="deleteCheck(check.id)">
        <img src="assets/images/edit.svg" class="btn btn-outline-danger border-0" height="50" width="50"
             (click)="open(content)">
      </td>
      <ng-template #content let-c="close" let-d="dismiss">

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Chèque N {{check.id}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="formUpdat">
          <div class="form-group">
            <label>Status</label>
            <select class="form-control"
                    formControlName="status">
              <option class="text-success">Payé</option>
              <option class="text-danger">Non payé</option>
            </select>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="d('Cross click')">Annuler</button>
          <button type="button" class="btn btn-outline-dark" (click)="updatCheque(check.id)">Modifier</button>

        </div>

      </ng-template>

    </tr>
    </tbody>
  </table>
  <p>
    <ngb-alert class="mt-3s" type="warning" *ngIf="!closeAlert">
      Montant total de vos chèques: <strong>{{sumAmount}} DH</strong>
      <button type="button" class="close" (click)="closeAlert=true">
        <span aria-hidden="true">&times;</span>
      </button>
    </ngb-alert>
  </p>
</div>
